@model IEnumerable<Samolut_Fintech_Application.Models.DatabaseModels.Account>

<style>
    #Home {
        background-color: rgba(98, 204, 141, 0.5);
    }

        #Home:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

</style>
<body>
    <div class="mainAppSpace">
        <div class="applicationBox">

            <div class="currentSelectedAccountBox">
                @* select account id is  i know what account is selected so i can then display whatever else *@
                <div class="accountSelectedBox">
                    <h1>@ViewBag.selectedAccountBalance</h1>
                    <h2>@ViewBag.accountName</h2>
                </div>
                <form asp-action="ApplicationHome" method="get"> @*get not posttt*@
                    
                    @Html.AntiForgeryToken()
                    <select name="ACCOUNT_ID" onchange="this.form.submit()">
                        <option>Select Different Account:</option>
                        @{
                            foreach (var i in Model)
                            {
                                <option value="@i.ACCOUNT_ID">@i.CurrencyIdForeignKey.COUNTRY_CURRENCY_NAME - @i.ACCOUNT_BALANCE</option>

                            }
                        }
                    </select>
                </form>
            </div>


            @*for transactions to be displayed only if somethings selecte, so chgecking it againsta a viewbag i used above*@
            @{
                if (ViewBag.accountName != null)
                {
                    <div class="transactionTableBox">
                        <table>
                            <thead>
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>Sender</th>
                                    <th>Receiver</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Start Currency</th> 
                                    <th>End Currency</th>
                                    <th>Exchange Rate</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.SelectedTransactions != null)
                                    {
                                        foreach (var i in ViewBag.SelectedTransactions)
                                        {
                                            <tr>
                                                <td>@i.TRANSACTION_ID</td>
                                                <td>@i.SENDER_ACCOUNT_ID</td>
                                                <td>@i.RECEIVER_ACCOUNT_ID</td>
                                                <td>@i.AMOUNT</td>
                                                <td>@i.DATE</td>
                                                <td>@i.START_CURRENCY</td>
                                                <td>@i.END_CURRENCY</td>
                                                <td>@i.EXCHANGE_RATE</td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                }
                }
                
           
        </div>
    </div>
</body>