@model IEnumerable<Samolut_Fintech_Application.Models.DatabaseModels.Customer>
@{
    Layout = null;
}
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Middle Name<th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Password</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
				<tr>
					<td>@item.ID</td>
					<td>@item.FIRST_NAME</td>
					<td>@item.MIDDLE_NAME</td>
					<td>@item.LAST_NAME</td>
					<td>@item.PHONE_NUMBER</td>
					<td>@item.PASSWORD</td>
				</tr>
			}
	</tbody>
</table>

</body>